@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #ef972c;
  color: #e5ef2c; 
  /* background: #ef972c; */
  /* color: #972cef;  */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.fw {
  text-align: justify;
  font-size: 58vw;
  font-weight: 700;
  line-height: 0.5;
  color: #ef362c; 

}

.fw:after {
  content: "";
  display: inline-block;
  width: 100%;
}
